<h1>Playing Clue-Less as {{userService.assignedCharacter()}}</h1>


<div class="container">

  <div class="grid">
    <!-- Loop over Areas to create room or hallway components -->
    <div *ngFor="let item of Areas; trackBy: trackByFn">

      <!-- Check if the area is a room -->
      <div *ngIf="item.type === 'room'">
        <room [roomName]="item.name" [image]="item.photo!" [characters]="characters"
          [characters]="getCharactersForArea(item.name)"></room>
      </div>

      <!-- Check if the area is a hallway -->
      <div *ngIf="item.type === 'hall'">
        <hallway [hallName]="item.name" [imageURL]="item.photo!" [characters]="getCharactersForArea(item.name)">
        </hallway>
      </div>

      <!-- Handle empty areas (if any) -->
      <div *ngIf="item.type === 'empty'">
        <empty></empty>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="column">  <h2>Game Data</h2> </div>
    <div class="column">  <h2>Player Data</h2> </div>
  </div>

  <div class="row">
    <div class="column">  <h2>Game Feed</h2> <gameState [states]="states"></gameState> </div>
    <div class="column">
      <h2> Your Cards </h2> 
      <DisplayCard [cards]="cards"></DisplayCard>
    </div>
  </div>

  <div class="row">
    <div class="column"> 
      <h2>TODO: [Character]'s Turn</h2> 
      <p>Option's will appear when it is your turn</p>
      <playerInput [options]="options"></playerInput>
      <moveTo [move_options]="move_options"></moveTo> 
      <gameInput></gameInput>
    </div>
    <div class="column"> 
      <h2>Your Game Tracker</h2>
      <trackingCard></trackingCard> 
    </div>
  </div>



  <div class="row">
    <div class="column">
     
      
      
      
      

    <!-- below is for testing -->
    <div class="list">
      <h3>Game Characters</h3>
      <ul class="character-list">
        <li *ngFor="let character of characters" class="character-item">
          <strong class="character-id">{{ character.characterId }}</strong> is in the 
          <em class="character-location">{{ character.locationId }}</em>
        </li>
      </ul>
    </div>



</div>