<h1>Clue-Less</h1>

<div class = "container">

  <div class="grid">
    <!-- Loop over Areas to create room or hallway components -->
    <div *ngFor="let item of Areas; trackBy: trackByFn">
      
      <!-- Check if the area is a room -->
      <div *ngIf="item.type === 'room'">
        <room [roomName]="item.name" [image]="item.photo!" [characters]="characters"></room>
      </div>
  
      <!-- Check if the area is a hallway -->
      <div *ngIf="item.type === 'hall'">
        <hallway [hallName]="item.name" [imageURL]="item.photo!"></hallway>
      </div>
  
      <!-- Handle empty areas (if any) -->
      <div *ngIf="item.type === 'empty'">
        <empty></empty>
      </div>
  
    </div>
  </div>
  

  <div class = "controlpanel">
    <gameState [messages]="messages"></gameState>
    <playerInput [options]="options"></playerInput>
    <gameInput></gameInput>
    <trackingCard></trackingCard>
    
    <!-- below is for testing -->
    <h3>Game Characters</h3>
    <ul>
      <li *ngFor="let character of characters">
        <strong>{{ character.characterId }}</strong> is in the <em>{{ character.locationId }}</em>
      </li>
    </ul>

  </div>

  
</div>