<h1>Playing Clue-Less as {{userService.assignedCharacter()}}</h1>


<div class="container">

  <div class="grid">
    <!-- Loop over Areas to create room or hallway components -->
    <div *ngFor="let item of Areas; trackBy: trackByFn">

      <!-- Check if the area is a room -->
      <div *ngIf="item.type === 'room'">
        <room [roomName]="item.name" [image]="item.photo!" [characters]="gameStateService.getGameState().characters"
          [characters]="getCharactersForArea(item.name)"></room>
      </div>

      <!-- Check if the area is a hallway -->
      <div *ngIf="item.type === 'hall'">
        <hallway [hallName]="item.name" [imageURL]="item.photo!" [characters]="getCharactersForArea(item.name)">
        </hallway>
      </div>

      <!-- Handle empty areas (if any) -->
      <div *ngIf="item.type === 'empty'">
        <empty></empty>
      </div>

    </div>
  </div>


  <div class="controlpanel">
    <gameState [states]="states"></gameState>
    <playerInput [options]="options"></playerInput>
    <moveTo [move_options]="move_options"></moveTo> 
    <gameInput></gameInput>
    <trackingCard></trackingCard>


  </div>


</div>