<div
  *ngIf="
    gameState().current_player.name === userService.assignedCharacter() &&
    gameState().flow === 'get_action'
  "
  class="messageSender"
>
  <h2>Enter your move:</h2>

  <div class="'button-list">
    <!-- Loop through the buttonLabels array and create a button for each -->
    <button (click)="sendMessage('move')"> move </button>
    <button
      [disabled]="
        gameState().current_player.location.locationType !== 'room' ||
        gameState().current_player.moved_to === false
      "
      (click)="sendMessage('suggest')"
    >
      suggest
    </button>
    <button (click)="sendMessage('accuse_start')"> accuse </button>
  </div>
</div>
