p {
    margin: 0px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-img {
  width: 16%;
  height: 16%;
  border-radius: 50%; 
  object-fit: cover; /* Ensures the image covers the area without distortion */  
}
