<div class="box" style="background-image: url({{image}})">
    <div class="title">
        <p>{{roomName}}</p>
    </div>

    <!-- Loop over characters and display player icons if they match the area -->
    <div *ngFor="let character of characters">
        <div *ngIf="character.locationId === roomName" class="player-icon">
            <!-- <p>{{ character.characterId }} icon</p>
              <img [src]="getPlayerIcon(character.characterId)" class="icon-img"> -->
        </div>
        <p>{{ character.characterId }} icon</p>
        <img [src]="getPlayerIcon(character.characterId)" class="icon-img">
    </div>
</div>